ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=CRMdatabase;Username=postgres;Password=YOUR_DB_PASSWORD
Jwt__Key=YOUR_JWT_SECRET_KEY
Jwt__Issuer=CRMSystem
Jwt__Audience=CRMSystemClient